// COLORS

$color-primary: #3481df;
$color-primary-dark: #1d5fb1;
$color-primary-light: #4a9bff;

$color-bg: #302393 ;
$color-white: #fff;

$color-dark: #4a4a4a;
$color-dark-1: #646464;
$color-light: #ddd;

$color-warning: #ee472a;
$color-health: #31dc2c ;