 * {
     margin: 0;
     padding: 0;
 }

 html {
    font-family: sans-serif;
     box-sizing: border-box;
     font-family: sans-serif;
 }

.app {
    // display: grid;
    // grid-template-rows: 10rem 1fr 10rem;
    // background-color: orangered;
}

