* {
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: sans-serif; }

html {
  font-size: 62.5%;
  font-family: sans-serif; }

.game__container {
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column; }

.game__healthbar-container {
  width: 80%;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  margin: 3rem; }

.game__healthbar {
  margin: 0 4rem;
  width: 100%;
  background-color: #ee472a;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden; }
  .game__healthbar-current--health {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 100%;
    background-color: #31dc2c;
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.66, 1, 0.81, 0.98); }
  .game__healthbar-value {
    z-index: 1; }

.game__controllers {
  width: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  align-content: center;
  justify-items: center; }

.btn {
  padding: 1rem;
  background-color: #3481df;
  color: #ddd;
  text-transform: uppercase;
  font-weight: 700;
  width: 80%;
  border-radius: 1.5rem;
  border: none;
  transition: all .3s; }
  .btn:hover {
    background-color: #1d5fb1;
    transform: translateY(-3px); }
  .btn-special {
    filter: brightness(50%); }
    .btn-special:hover {
      background-color: #3481df;
      transform: translateY(0); }
    .btn-special.active {
      filter: brightness(100%); }
      .btn-special.active:hover {
        background-color: #1d5fb1;
        transform: translateY(-3px); }
